.carrusel {
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.carrusel>* {
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
    .carrusel>* {
        min-width: calc(50% - 1rem);
        margin-right: 1rem;
    }
}


@media only screen and (min-width: 1020px) {
    .carrusel>* {
        min-width: calc(25% - 2rem);
        margin-right: 2rem;
    }
}