#gallery-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
}

#gallery-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
}

#gallery-btn {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, .5);
    border: 5px solid rgba(240, 240, 240, .5);
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#gallery-btn img {
    width: 1rem;
    height: 1rem;
}

@media only screen and (min-width: 768px){
    #gallery-image {
        max-width: auto;
        max-height: 90vh;
    }
}